$background: #ff4632;

$black: black;

$white: white;

$font-roboto: 'Roboto', sans-serif;

$bg-img: 'https://www.scdn.co/i/projectRamses/LiE_circles.svg';

$blue:#2d46b9;

$green:#1ed760;

$green-hover: #1DB954;
$footer-background-color-dark: #000;
$text-gray: #919496;
$background-gray: #222326;