.custom__navbar {
  height: 5rem;
  padding: 0 3rem;
  background-color: black;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom__navbar-logo {
  width: 10rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom__navbar-logo svg {
  width: 10rem;
  height: auto;
}

.custom__navbar-logo svg .logo {
  fill: white;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  width: 32rem;
}

.navbar__menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23rem;
}

.navbar__menu-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
}

.navbar__menu-img {
  overflow: hidden;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

.navbar__menu-img img {
  width: auto;
  height: 100%;
}

.navbar__menu-option-2 {
  visibility: hidden;
  width: 0;
}

@media (max-width: 964px) {
  .custom__navbar {
    background-color: black;
    padding: 0 2rem;
    height: 3rem;
  }
  .navbar__menu {
    font-size: 1.2rem;
    width: 10rem;
  }
  .navbar__menu-logo {
    width: 4rem;
  }
  .navbar__menu-logo svg {
    width: 4rem;
  }
  .navbar__menu-links {
    visibility: hidden;
  }
  .navbar__menu-img {
    height: 2rem;
    width: 2rem;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

#hero {
  background-color: #ff4632;
}

.font-paragraph {
  font-size: 14px;
}

.font-titles {
  font-size: 40px;
  font-weight: bold;
}

.font-terms {
  font-size: 12px;
}

.btn-class {
  padding: .5rem 2rem;
  border: none;
}

.btn-class--primary {
  background: black;
  color: white;
}

.btn-class--primary:hover {
  background: white;
  color: black;
}

.btn-class--secondary {
  background: #1ed760;
  color: #2d46b9;
}

.btn-class--secondary:hover {
  background: white;
}

.margin-gral > * {
  margin-bottom: 20px;
}

#hero img {
  width: 75%;
  height: 90%;
}

#hero-2 {
  background-image: url("https://www.scdn.co/i/projectRamses/LiE_circles.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2d46b9;
}

.footer-main-container {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-main-container path {
  fill: white;
}

.footer-main-container li {
  display: inline;
}

.footer-main-container h6 {
  font-weight: 600;
  font-size: 14px;
  color: #919496;
}

.footer-main-container a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 12px 0;
  font-size: 14px;
  font-weight: 600;
}

.footer-main-container a:hover {
  color: #1DB954 !important;
}

.bg-colored-gray {
  color: #222326;
}

@media (max-width: 767px) {
  .under-links a {
    color: #919496;
    font-size: 10px;
    margin: 0 10px;
  }
  .under-links p {
    color: #919496;
    font-size: 10px;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .under-links a {
    color: #919496;
    font-size: 12px;
    margin: 0 10px;
  }
  .under-links p {
    color: #919496;
    font-size: 12px;
    margin: 10px;
  }
}

#social-media i {
  width: 2rem;
}
/*# sourceMappingURL=main.css.map */